
    @model PendalePharmacy.ViewModels.Both
 

@{
    ViewBag.Title = "Create";
}


<link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" media="screen,projection" />


<script>
    (function () {
        var app = angular.module("FaqCtrl", []);


        var Main = function ($scope) {

            $scope.showMe = function () {
                if ($scope.show == false) {
                    $scope.show = true;
                }
                else {
                    $scope.show = false;
                }

            }
            $scope.hideMe = function () {
                $scope.show = false;
            }

        }

        app.controller("Main", Main);
    }());
</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div ng-app="FaqCtrl" ng-controller="Main">
        <a class="btn btn-primary" style="background-color:#5c2040" ng-click="showMe()">
            <md-icon class="fa fa-plus"></md-icon> Ask Question
        </a>



        <div ng-show="show">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="md-form">
                @Html.LabelFor(model => model.comments, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.comments, "", new { @class = "text-danger" })

            </div>

            <div class="md-form">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

            </div>

            <div class="md-form">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })

                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

            </div>

            <br />

            <div class="md-form">

                <input type="submit" value="Create" class="btn btn-default" />

            </div>

        </div>



    </div>



}

@model IEnumerable<PendalePharmacy.Models.Faq>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.FaqID }) |
                @Html.ActionLink("Details", "Details", new { id = item.FaqID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.FaqID })
            </td>
        </tr>
    }

</table>



